* { box-sizing:border-box; }

/* PARENT CONTAINER */
section {
  height : 300px;
  border: 2px solid red;
  display:flex; 
  /* display:flex on the parent container */
  flex-direction: row;
  /* flex-direction: row DEFAULT */
  justify-content:space-around;
  align-items: flex-center;
/*   align items in the container along the cross axis (y axis). 
  DEFAULT STRECH */
  flex-wrap:wrap;
  padding: 15px;
  margin: 15px;
  align-content: space-between;
}

.div1 {
  border: 1px solid blue;
  background-color: #e6ffff;
  width: 50%;
  padding: 3px;
 
}

.div2 {
  border: 1px solid red;
  background-color: #ffd6cc;
  width: 30%;
/* See what happens if width: 80%;   */
  align-self: flex-end
  padding: 8px;
}