*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    background-color: white;
    border: 2px solid red;
    padding: 50px;
    margin: 80px;
    /* align-items: flex-end; */
    width: 70%;

}

.prem{
    background-color: white;
    padding: 12px;

}

.div1{
    
    background-color: rgb(12, 138, 193);
    width: 20%;
    text-align: center;
    
}

.div2{
    
    background-color: rgb(65, 187, 240);
    width: 110%;
    /* height: 100px; */
    /* margin-top: 12px; */
    /* margin-bottom: 12px; */
    text-align: center;

}
.div3{
    background-color: rgb(237, 87, 87);
    width: 70%;
    text-align: center;
}

.div1, .div2, .div3{
    display: flex;
    justify-content: center;
    align-items: center;
}