*{
    box-sizing:border-box;
   
    }

    
  body{
    background-color : #a8a4a1;
  }

  #titre1{
          display: flex;
          flex-direction: row;
          justify-content: center;
          font-size: 58px;
          font-family:'Times New Roman', Times, serif;
          color:white;
          margin-top: 3%;
          margin-bottom: -6%;
  }
  
  .bloc1{
            display:flex;
            flex-direction: row;
            margin-top: 8%;
           justify-content:center;
           margin-bottom: 10%;
           
        }

  .formu{
    
            background-color :rgb(209, 209, 7);
            opacity: 90%;
            width:40%;
            height: 500px;
        }

  .bloc2{
            display: flex;
            flex-direction: row;
            background-color:black;
            width:50%;
            height: 500px;
           
    
        }


      h1{
            text-align: center;
            color:black;
            margin-top: 4%;
            font-size: 48px;
            font-family:Verdana, Geneva, Tahoma, sans-serif ;
       }
       

.champ input{
            text-align:center;
            width:80%;
            height:40px;
            margin-top: 3%;
            }
  
        .puc{
            display: flex;
            flex-direction: row;
            text-align: center;
            width:74%;
            margin-left: 38px;
            justify-content: space-between;
            font-weight: bold;
           }
       

  #rem{ 
       margin-left: -35%;
      }


#forget:hover{
              color:red;
              font-weight: bold;
              
             }


 .but{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-top: 5%;
        justify-content:center;
        height:30px;
       
    }


#but{
        width:50%;
        height:33px;
        border-radius: 8px 8px 8px 8px;
        background-color :goldenrod;
        
    }


#but:hover{
           background-color:rgb(7, 251, 7);
           border-radius: 8px 8px 8px 8px;
           font-weight: bold;
          }


      #title{
              color:rgb(6, 6, 18);
              text-align: center;
              justify-content:center;
              margin-top :20px;
              font-size: 18px;
              margin-top: 8%;
              font-weight:  bold;
              font-family: 'Times New Roman', Times, serif;
              
      }
      .ico{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30%;
        padding-right :30%;
        font-size: 30px;
        color:white;
        margin-top: 15px;
        font-weight: bold;
      
      }

      #ico2{
        color:white;
        font-size: 80px;
        margin-top:30%;
        
        margin-left: 45%;
        padding-top: -30%;
        height: 90px;
    
      }

      #p1{
        
        
        color:white;
        margin-top:42%;
        
        font-size: 28px;
        width:100%;
        align-items: center;
        height: 200px;
       text-align: center;
       margin-left: -55%;
      }

      