* {
    color: black; 
    /* color of all the elements should be black */
    background: purple; 
    /* purple background is set for all the elements */
}
* {
    color: black; 
    /* color of all the elements should be black */
    background: purple; 
    /* purple background is set for all the elements */
    font-size:18px;
}

