@media only screen and (mini-width: 200px) {
    .nav-mobile {
        display: block;
        font-size: 18px;
   }
}
.bloc{
    display:box;
}
header{
    display:flex-box;
        color:rgb(15, 148, 8);
        font-size: 38px;
        font-family: 'Courier New', Courier, monospace;
        background-color:black;
        align-items: flex-center;
        align-content: center;
        text-align: center;
}
h3{
    color:rgb(254, 254, 255);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    font-weight:bold ;
    font-size: 30px;
    border: 3px solid rgb(3, 38, 2);
    background-color:rgb(97, 2, 2);
    margin-right: 50%;
    text-align: center;

}
.img{
    width:300px;
    align-items: center;
    margin-left: 15%;
}
.para{
    border: 2px solid rgb(38, 15, 2);
    background-color: white;
    margin-left: 55%;
    margin-right: 20px;
    margin-top:-25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height:300px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: brown;
}
